* {
  box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
}

.app {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  /* height: 100dvh; */
}

.main {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #ce72b4;
  width: 230px;
  padding: 20px 5px;
}

.sidebar a {
  padding: 10px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  background: #f2f2f2;
}

.sidebar a.active {
  background: #000;
  color: white;
}

.product-page {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
}

.product-card {
  width: 300px;
  height: 380px;
  border: 1px solid red;
  border-radius: 16px;
}

.product-card img {
  width: 100%;
  height: 170px;
  border-radius: 16px 16px 0 0;
}

.product-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-content div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-badge {
  padding: 2px 12px;
  font-size: 14px;
  font-weight: bold;
  background: #da8ed2;
  border-radius: 12px;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.pagination button {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #ce72b4;
  cursor: pointer;
}

.pagination button.active {
  background: #000;
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.filter {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.filter-box {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 14px;
}

.filter-box select {
  width: 170px;
}
